<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/style.css" rel="stylesheet">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    
    <img class="portrait" src="/img/untitled.jpg">
    </div>
    {{>footer}}
</body>
</html>